.wrapperclass{
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}

/* header */
.header{
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    transition: all 0.5s linear;
}
.header a{
    color: #bcbdc7;
}
.topinfo{
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}
.languagelink{
    padding: 5px 15px;
    display: block;
}
.languagelink:hover{
    color: #fff;
}
.fa-iran{
    width: 20px;
    vertical-align: middle;
    padding-left: 5px;
}
.accountlink{
    display: block;
    padding: 5px 10px;   
}
.accountlink>i{
    padding-left: 10px;
}
.accountlink:hover{
    color: #fff;
}
.topinformaition{
    border-bottom: 1px solid #303e4f;
    padding: 30px;
}
.searchbox{
    flex-grow: 1;
    height: 40px;    
    justify-content: center;
    margin-top: 5px;
    
}
.categorysearch{
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px;
}
.inputsearch{
    border: none;
    padding: 10px 20px;
    width: 50%;
}
.inputicon{
    padding: 8px 20px;
    background-color:#F4A137;
    border-radius: 20px 0 0 20px;
    color: #fff !important;
}
.inputicon:hover{
background-color: #555555;
}
.contactus,.cart{
    color: #fff;
    margin: 0 10px;
}
.contactusicon{
    font-size: 2.3em;
    padding: 5px 10px;
}
.contactusinfo,.cartinfo{
    font: 0.9em;
    margin-top: 4px;
}
.carticon i{
    background-color: #F4A137;
    font-size: 1.3em;
    padding: 5px 10px;
   margin: 15px 7px;
}
.mainnavlink{
    display: block;
    padding: 10px 12px;
}
.mainnavlink:hover{
    color: #fff;
}
.mainnavlist{
    position: relative;
}
.submenu{
    display: none;
    height: 500px;
    position: absolute;
    width: 90%;
    top: 100%;
    right: 0;
    background-color: red;
}
.mainnavitem:hover>.submenu{
    display: block;
}

/* main */
.main{
    background-color: #fff;
}
.r_ads{
    flex-grow: 1;
}
.l_ads{
    width: 25%;
    padding-right: 10px;
}
.r_ads img,.l_ads img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.topproduct{
    background-color: #f2f2f2;
}
.topproductitem{
    flex-grow: 1;
}
.topproductimage img{
border-radius: 50%;
padding: 10px;
}
.topproductinfo{
    align-self:center ;
}
.topproductinfotitle{
    font-size: 1.4em;
}
.topproductinfotext{
    color: #555555;
}

.topproductinfolink{
    color:#F4A137 ;
    font-size: 1.3em;
}












/* footer */